<a href="https://colab.research.google.com/github/redman157/phamson/blob/master/Linear-Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from __future__ import division, print_function
import pandas as pd
import os 
import numpy as np
import requests
data = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
name = ['sepal-length','sepal-width','petal-length','petal-width','variety']
def download_data(path):
  filename = (path.split('/')[-1])
  dir = os.path.join(os.path.abspath(os.path.dirname(filename)))
  r = requests.get(path,allow_redirects=True, stream = True,verify = False)
  if r.status_code == 200:    
    with open(dir + '/' + filename ,'wb') as f:
      f.write(r.content)
download_data(data)
print(os.path.join(data + '.csv'))
data = pd.read_csv(data,names = name)
#gradient descent : theta + 1 = theta_ 0 + (lr*loss_function ) * x(i)

https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data.csv

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

   sepal-length  sepal-width  petal-length  petal-width      variety
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [0]:
# chia data
y = data.variety
X = data.drop('variety',axis = 1)

In [58]:
# ma hoa data thanh cac con so
s = data.variety.unique()
label = pd.factorize(s)
data.variety = data.variety.replace(label[1],label[0])
data.head(3)

   sepal-length  sepal-width  petal-length  petal-width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0

In [59]:
tips = sns.load_dataset("fmri")
tips.head(2)

  subject  timepoint event    region    signal
0     s13         18  stim  parietal -0.017552
1      s5         14  stim  parietal -0.080883

In [1]:
!pip install -U seaborn

Requirement already up-to-date: seaborn in /usr/local/lib/python3.6/dist-packages (0.9.0)
Requirement already satisfied, skipping upgrade: matplotlib>=1.4.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (2.1.2)
Requirement already satisfied, skipping upgrade: pandas>=0.15.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (0.22.0)
Requirement already satisfied, skipping upgrade: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.14.6)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (1.11.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (2.5.3)
Requirement already satisfied, skipping upgrade: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (2018.7)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (2.3.0)

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")
# ax = sns.relplot(x="sepal-length", y="sepal-width",hue = 'variety',style = 'variety',
#                      kind ='line', data=data,col='variety')
# ax.fig.autofmt_xdate()

In [0]:
from __future__ import print_function
from scipy import stats
from scipy.stats import norm
g = sns.lmplot(x='sepal-length',y='sepal-width',hue='variety',
               row = 'petal-length',
               col='variety',
               markers=['o','x','^'],data=data)