<a href="https://colab.research.google.com/github/redman157/HocML/blob/master/TF-IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import math
import pandas as pd

docA = "The cat sat on my face"
docB = "The dog sat on my bed"

bowA = docA.split(" ")
bowB = docB.split(" ")

wordSet = set(bowA).union(set(bowB))

wordDictA = dict.fromkeys(wordSet,0)
wordDictB = dict.fromkeys(wordSet,0)

for word in bowA:
  wordDictA[word] += 1
for word in bowB:
  wordDictB[word] += 1
  
def computeTF(wordDict,bow):
  tfDict = {}
  bowCount = len(bow)
  for word,count in wordDict.items():
    tfDict[word] = count/float(bowCount)
  return tfDict  
def computeIDF(docList):
  idfDict = {}
  N = len(docList)
  idfDict = dict.fromkeys(docList[0].keys(),0)
  for doc in docList:
    for word,val in doc.items():
      if(val > 0):
        idfDict[word] += 1
  for word, val in idfDict.items():
    idfDict[word] = math.log10(N/float(val))
  return idfDict
def computeTFIDF(tfBow, idfs):
  tfidf = {}
  for word, val in tfBow.items():
    tfidf[word] = val * idfs[word]
  return tfidf

In [5]:
pd.DataFrame([wordDictA,wordDictB])

   The  bed  cat  dog  face  my  on  sat
0    1    0    1    0     1   1   1    1
1    1    1    0    1     0   1   1    1

In [0]:
tfDictA = computeTF(wordDictA,bowA)
tfDictB = computeTF(wordDictB,bowB)

In [0]:
idfWord = computeIDF([wordDictA,wordDictB])

In [0]:
tfidfDictA = computeTFIDF(tfDictA,idfWord)
tfidfDictB = computeTFIDF(tfDictB,idfWord)

In [9]:
pd.DataFrame([tfidfDictA,tfidfDictB])

   The       bed       cat       dog      face   my   on  sat
0  0.0  0.000000  0.050172  0.000000  0.050172  0.0  0.0  0.0
1  0.0  0.050172  0.000000  0.050172  0.000000  0.0  0.0  0.0