<a href="https://colab.research.google.com/github/redman157/phamson/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Run this cell and select the kaggle.json file downloaded
# from the Kaggle account settings page.
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"pson2809","key":"c5bc723b596e5578b62accddd07da25f"}'}

In [2]:
# Let's make sure the kaggle.json file is present.
!ls -lha kaggle.json

-rw-r--r-- 1 root root 64 Nov 17 01:52 kaggle.json

In [0]:
# Next, install the Kaggle API client.
!pip install -q kaggle

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [5]:
# List available datasets.
!kaggle datasets list

ref                                                      title                                               size  lastUpdated          downloadCount
-------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------
kaggle/kaggle-survey-2018                                2018 Kaggle ML & DS Survey Challenge                 4MB  2018-11-03 22:35:07           3362
olistbr/brazilian-ecommerce                              Brazilian E-Commerce Public Dataset by Olist        42MB  2018-10-31 16:15:27           4159
lava18/google-play-store-apps                            Google Play Store Apps                               2MB  2018-09-18 20:49:49          19698
kmader/skin-cancer-mnist-ham10000                        Skin Cancer MNIST: HAM10000                          3GB  2018-09-20 20:36:13           2657
jenny18/honey-bee-annotated-images                       Annotated Honey Bee Images                          50MB  2018-09-16 23:42:12           1601
fmena14/volcanoesvenus                                   Volcanoes on Venus                                 109MB  2018-08-25 01:37:34           1138
census/census-bureau-usa                                 United States Census                               161MB  2018-04-17 18:52:46              0
jacobbaruch/nba-player-of-the-week                       NBA player of the week                              16KB  2018-08-18 20:41:30           2975
chicago/chicago-red-light-and-speed-camera-data          Chicago Red Light and Speed Camera Data             23MB  2018-11-16 16:42:00           1492
center-for-policing-equity/data-science-for-good         Data Science for Good: Center for Policing Equity   43MB  2018-10-29 23:55:11           2323
crawford/boston-public-schools                           Boston Public Schools                               21KB  2018-09-18 21:49:50           1332
martinellis/nhl-game-data                                NHL Game Data                                      120MB  2018-09-26 19:11:47           2010
census/total-business-inventories-and-sales-data         Total Business Inventories and Sales Data           20KB  2018-11-16 09:32:42           1891
kmader/nih-deeplesion-subset                             NIH DeepLesion Subset                                8GB  2018-07-22 18:58:32            477
kmader/colorectal-histology-mnist                        Colorectal Histology MNIST                         991MB  2018-09-19 14:20:49            469
dansbecker/cityscapes-image-pairs                        Cityscapes Image Pairs                             101MB  2018-04-20 13:55:20            394
theworldbank/education-statistics                        Education Statistics                                75MB  2018-11-16 20:09:15           9877
census/total-construction-spending-data-collection       Total Construction Spending Data Collection         33KB  2018-11-16 09:33:55            903
census/family-households-with-married-couples-data       Family Households with Married Couples Data          2KB  2018-11-16 09:41:30           1268
san-francisco/sf-police-calls-for-service-and-incidents  SF Police Calls for Service and Incidents          167MB  2018-11-16 09:38:39           2131

In [8]:
# Copy the stackoverflow data set locally.
!kaggle competitions download -c titanic

Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 28.9MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 23.2MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.38MB/s]

In [207]:
training = pd.read_csv('train.csv')
X_train = training.drop('Survived',axis = 1)
X_train.head(-1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
860,861,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
861,862,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [204]:
import tensorflow as tf
from tensorflow import keras 
import pandas as pd
import numpy as np

import sklearn
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
training = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
gender =  pd.read_csv('gender_submission.csv')
def loss(x,y):
  return np.add(np.square(x-y),2)
  return 1/2*m
def optimize(x,y,lr):
  #return theta += theta - np.multiply(loss,lr)
  pass

X_train = training.drop('Survived',axis = 1)
#loc data X_train
num_sex = [['male',1],['female',2]]
X_train.fillna(value = "X",inplace = True)
X_train.Cabin = X_train.Cabin.apply(lambda x : x[0])

X_train.Name = X_train.Name.str.extract('([A-Za-z]+)\.')
X_train.Name.replace(to_replace =['Dr', 'Rev', 'Col', 'Major', 'Capt'],value = 'Officer',inplace = True)
X_train.Name.replace(to_replace =['Dona', 'Jonkheer', 'Countess', 'Sir', 'Lady', 'Don'], value = 'Aristocrat', inplace = True)
X_train.Name.replace({'Mlle':'Miss','Ms':'Miss','Mme':'Mrs'},inplace = True)


ticket = []
for i in list(X_train.Ticket):
  if i.isdigit():
    ticket.append('N')
  else:
    ticket.append(i.replace('.','').replace('/','').split(' ')[0])
X_train.Ticket = ticket
X_train.Ticket = X_train.Ticket.apply(lambda x: x[0])


gioitinh = []
for i in list(X_train.Sex):
  if i == 'male':
    gioitinh.append(0)
  else:
    gioitinh.append(1)
X_train.Sex = gioitinh
X_train.head(-1)

X_train["Family"] = X_train.SibSp + X_train.Parch +1
X_train.Family.replace(to_replace = [1],value = 'single',inplace = True)
X_train.Family.replace(to_replace = [2,3],value = 'small',inplace = True)
X_train.Family.replace(to_replace = [4,5],value = 'medium',inplace = True)
X_train.Family.replace(to_replace = [6,7,8,11],value = 'large',inplace = True)
X_train.head(-1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:24: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family
0,1,3,Mr,0,22,1,0,A,7.2500,X,S,small
1,2,1,Mrs,1,38,1,0,P,71.2833,C,C,small
2,3,3,Miss,1,26,0,0,S,7.9250,X,S,single
3,4,1,Mrs,1,35,1,0,N,53.1000,C,S,small
4,5,3,Mr,0,35,0,0,N,8.0500,X,S,single
5,6,3,Mr,0,X,0,0,N,8.4583,X,Q,single
6,7,1,Mr,0,54,0,0,N,51.8625,E,S,single
7,8,3,Master,0,2,3,1,N,21.0750,X,S,medium
8,9,3,Mrs,1,27,0,2,N,11.1333,X,S,small
9,10,2,Mrs,1,14,1,0,N,30.0708,X,C,small
10,11,3,Miss,1,4,1,1,P,16.7000,G,S,small
11,12,1,Miss,1,58,0,0,N,26.5500,C,S,single
12,13,3,Mr,0,20,0,0,A,8.0500,X,S,single
13,14,3,Mr,0,39,1,5,N,31.2750,X,S,large
14,15,3,Miss,1,14,0,0,N,7.8542,X,S,single
15,16,2,Mrs,1,55,0,0,N,16.0000,X,S,single
16,17,3,Master,0,2,4,1,N,29.1250,X,Q,large
17,18,2,Mr,0,X,0,0,N,13.0000,X,S,single
18,19,3,Mrs,1,31,1,0,N,18.0000,X,S,small
19,20,3,Mrs,1,X,0,0,N,7.2250,X,C,single
20,21,2,Mr,0,35,0,0,N,26.0000,X,S,single
21,22,2,Mr,0,34,0,0,N,13.0000,D,S,single
22,23,3,Miss,1,15,0,0,N,8.0292,X,Q,single
23,24,1,Mr,0,28,0,0,N,35.5000,A,S,single
24,25,3,Miss,1,8,3,1,N,21.0750,X,S,medium
25,26,3,Mrs,1,38,1,5,N,31.3875,X,S,large
26,27,3,Mr,0,X,0,0,N,7.2250,X,C,single
27,28,1,Mr,0,19,3,2,N,263.0000,C,S,large
28,29,3,Miss,1,X,0,0,N,7.8792,X,Q,single
29,30,3,Mr,0,X,0,0,N,7.8958,X,S,single
...,...,...,...,...,...,...,...,...,...,...,...,...
860,861,3,Mr,0,41,2,0,N,14.1083,X,S,small
861,862,2,Mr,0,21,1,0,N,11.5000,X,S,small
862,863,1,Mrs,1,48,0,0,N,25.9292,D,S,single
863,864,3,Miss,1,X,8,2,C,69.5500,X,S,large
864,865,2,Mr,0,24,0,0,N,13.0000,X,S,single
865,866,2,Mrs,1,42,0,0,N,13.0000,X,S,single
866,867,2,Miss,1,27,1,0,S,13.8583,X,C,small
867,868,1,Mr,0,31,0,0,P,50.4958,A,S,single
868,869,3,Mr,0,X,0,0,N,9.5000,X,S,single
869,870,3,Master,0,4,1,1,N,11.1333,X,S,small
870,871,3,Mr,0,26,0,0,N,7.8958,X,S,single
871,872,1,Mrs,1,47,1,1,N,52.5542,D,S,small
872,873,1,Mr,0,33,0,0,N,5.0000,B,S,single
873,874,3,Mr,0,47,0,0,N,9.0000,X,S,single
874,875,2,Mrs,1,28,1,0,P,24.0000,X,C,small
875,876,3,Miss,1,15,0,0,N,7.2250,X,C,single
876,877,3,Mr,0,20,0,0,N,9.8458,X,S,single
877,878,3,Mr,0,19,0,0,N,7.8958,X,S,single
878,879,3,Mr,0,X,0,0,N,7.8958,X,S,single
879,880,1,Mrs,1,56,0,1,N,83.1583,C,C,small
880,881,2,Mrs,1,25,0,1,N,26.0000,X,S,small
881,882,3,Mr,0,33,0,0,N,7.8958,X,S,single
882,883,3,Miss,1,22,0,0,N,10.5167,X,S,single
883,884,2,Mr,0,28,0,0,C,10.5000,X,S,single
884,885,3,Mr,0,25,0,0,S,7.0500,X,S,single
885,886,3,Mrs,1,39,0,5,N,29.1250,X,Q,large
886,887,2,Officer,0,27,0,0,N,13.0000,X,S,single
887,888,1,Miss,1,19,0,0,N,30.0000,B,S,single
888,889,3,Miss,1,X,1,2,W,23.4500,X,S,medium
889,890,1,Mr,0,26,0,0,N,30.0000,C,C,single